@model DataPribadiNetCoreMVC.Models.DataDb

@{
    ViewData["Title"] = "Edit";
}

<div style="text-align:center">
    <h1>Edit</h1>
    <h4>@Html.DisplayFor(model => model.NamaLengkap)</h4>
</div>

<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form autocomplete="off" asp-action="Edit" class="form-control addshadow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Nik" />
            <div class="form-group mb-3">
                <label asp-for="NamaLengkap" class="control-label"></label>
                <input asp-for="NamaLengkap" class="form-control" />
                <span asp-validation-for="NamaLengkap" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="JenisKelamin" class="control-label"></label>
                <br />
                <input class="form-check-input" type="radio" asp-for="JenisKelamin" value="Laki-Laki" /> Laki-Laki
                <input class="form-check-input" type="radio" asp-for="JenisKelamin" value="Perempuan" /> Perempuan
                <span asp-validation-for="JenisKelamin" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="TanggalLahir" class="control-label"></label>
                <input type="text" asp-for="TanggalLahir" class="datepicker form-control" />
                <span asp-validation-for="TanggalLahir" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Alamat" class="control-label"></label>
                <input asp-for="Alamat" class="form-control" />
                <span asp-validation-for="Alamat" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="width:48%" />
                <a class="btn btn-info pull-right" style="width:48%" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
